body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: url(../img/bg-2.png);
  margin: 0;
  min-width: 1140px; }

.hidden {
  display: none; }

.wrapper {
  width: 1140px;
  margin: 0 auto;
  display: flex; }

.main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  align-items: flex-start; }

.header {
  background-color: #fdf644;
  height: 150px;
  position: relative;
  margin-bottom: 15px; }
  .header::after {
    position: absolute;
    bottom: -15px;
    display: block;
    z-index: -1;
    content: "";
    width: 100%;
    height: 15px;
    background: linear-gradient(to top, #591e4b, #2c0f25); }
  .header .wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px; }
  .header .logo {
    position: relative;
    top: -32px;
    width: 141px;
    height: 132px;
    padding: 28px 45px 105px;
    background: linear-gradient(to top, #591e4b, #2c0f25);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px; }
    .header .logo:hover {
      background: linear-gradient(to bottom, #591e4b, #2c0f25); }
    .header .logo__img {
      display: block;
      width: 141px;
      height: 132px; }
  .header__info {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .header__info h1 {
      color: #f70202;
      font-size: 56px;
      line-height: 46px;
      font-weight: 900;
      letter-spacing: 0.03em;
      margin: 0;
      margin-bottom: 10px; }
    .header__info h3 {
      margin: 0;
      font-size: 28px;
      font-weight: 900;
      letter-spacing: 0.03em; }
  .header .contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 22px;
    font-weight: 900; }
    .header .contacts__phone {
      position: relative; }
      .header .contacts__phone::before {
        display: block;
        position: absolute;
        left: -15px;
        top: 5px;
        content: "";
        width: 21px;
        height: 21px;
        background: url(../img/phone.png); }
    .header .contacts__email {
      position: relative; }
      .header .contacts__email::before {
        display: block;
        position: absolute;
        left: -40px;
        top: 5px;
        content: "";
        width: 26px;
        height: 20px;
        background: url(../img/email.png); }

.advantages {
  font-size: 18px;
  font-weight: 900;
  width: 100%; }
  .advantages__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; }
  .advantages__item {
    display: block;
    width: 185px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px 5px; }
    .advantages__item span {
      position: relative;
      display: block;
      width: 60px;
      height: 60px;
      margin: 30px auto;
      transform: rotate(45deg);
      background: linear-gradient(-45deg, #581e4a, #2d1026);
      border-radius: 5px; }
      .advantages__item span::before {
        position: absolute;
        display: block;
        content: "";
        width: 60px;
        height: 60px;
        transform: rotate(25deg);
        border: 1px solid #581e4a;
        border-radius: 5px;
        z-index: -2; }
      .advantages__item span::after {
        position: absolute;
        display: block;
        content: "";
        width: 60px;
        height: 60px;
        transform: rotate(-45deg);
        border: 1px solid #581e4a;
        border-radius: 5px; }
  .advantages__item--full-day span::after {
    background: url(../img/calendar-with-a-clock.png) 55% 40% no-repeat; }
  .advantages__item--region span::after {
    background: url(../img/map.png) 50% 40% no-repeat; }
  .advantages__item--full-week span::after {
    background: url(../img/calendar.png) 50% 40% no-repeat; }

.side-bar {
  box-sizing: border-box;
  flex-basis: 250px; }
  .side-bar__heading {
    padding: 5px 20px;
    text-align: center;
    margin: 0;
    box-shadow: inset 0px 1px 0px 1px rgba(255, 255, 255, 0.1); }
  .side-bar--left {
    background: linear-gradient(to top, #fdf49f, #faeb62);
    border-radius: 8px;
    padding: 25px 30px; }
  .side-bar--right {
    background: linear-gradient(90deg, #3b3b3b, #454545, #3b3b3b);
    border-radius: 8px;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.9), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 2px #222325, inset 0px 0px 0px 10px rgba(0, 0, 0, 0.2); }

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item {
  margin-bottom: 20px; }
  .nav__item a {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none; }
  .nav__item .active {
    color: #f70202; }

.calculator {
  padding: 10px 15px;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  z-index: 2; }
  .calculator__heading {
    margin: 0;
    margin-bottom: 15px;
    padding: 0 20px; }
  .calculator label {
    font-weight: 500;
    display: flex;
    justify-content: space-between; }
  .calculator label[for] {
    justify-content: flex-start;
    align-items: baseline; }
    .calculator label[for] input {
      margin-right: 10px; }
  .calculator input[type="number"] {
    line-height: 35px;
    background: black;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    padding-left: 10px; }
  .calculator #depth,
  .calculator #width,
  .calculator #height {
    width: 40%; }
  .calculator input[type="button"] {
    background: linear-gradient(to top, #861616, #b71c1c);
    border: 2px solid #b71c1c;
    line-height: 36px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }
    .calculator input[type="button"]:hover {
      background: linear-gradient(to top, #b71c1c, #861616); }
  .calculator #total {
    margin: 0 auto;
    width: 93%; }

.page {
  box-sizing: border-box;
  flex-basis: 640px;
  padding: 0 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }
  .page h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center; }
  .page h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center; }
  .page button {
    background: none;
    border: 3px solid #f70202;
    color: #f70202;
    font-size: 18px;
    font-weight: 900;
    line-height: 36px;
    padding: 0 15px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer; }

footer {
  background: linear-gradient(to top, #71275f, #2c0f25);
  padding-top: 24px;
  padding: 20px;
  color: white;
  font-size: 13px;
  line-height: 25px; }
  footer .wrapper {
    align-items: center; }
  footer .logo__img {
    padding: 0 95px;
    width: 60px;
    height: 55px; }
  footer .copyright {
    flex-basis: 650px;
    flex-grow: 1;
    text-align: center; }
  footer .social {
    flex-basis: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    footer .social a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #20527d; }
    footer .social__vk {
      background: url(../img/vk.png) no-repeat 50% 50%; }
    footer .social__inst {
      background: url(../img/inst.png) no-repeat 50% 50%; }

.popup {
  display: flex;
  display: none;
  flex-flow: column nowrap;
  width: 450px;
  padding: 30px;
  box-sizing: border-box;
  background: linear-gradient(to top, #fdf49f, #faeb62);
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -225px;
  z-index: 5;
  opacity: 0; }
  .popup__heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    margin: 0 80px;
    padding-bottom: 30px;
    text-align: center; }
  .popup__input {
    background: transparent;
    border: 1px solid black;
    padding: 0 20px;
    line-height: 38px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px; }
    .popup__input::placeholder {
      color: rgba(0, 0, 0, 0.4); }
  .popup__btn {
    background: linear-gradient(to top, #861616, #b71c1c);
    border: 2px solid #b71c1c;
    line-height: 36px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer; }
    .popup__btn:hover {
      background: linear-gradient(to top, #b71c1c, #861616); }
  .popup__close {
    display: block;
    position: absolute;
    top: -50px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer; }
    .popup__close::before {
      display: block;
      content: "";
      height: 30px;
      width: 2px;
      background-color: white;
      transform: rotate(45deg);
      position: absolute;
      top: 5px;
      right: 19px; }
    .popup__close::after {
      display: block;
      content: "";
      height: 30px;
      width: 2px;
      background-color: white;
      transform: rotate(-45deg);
      position: absolute;
      top: 5px;
      right: 19px; }

.overlay {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer; }

.hidden {
  display: none; }
